body {
	font-family: sans-serif;		
	background-color:#ffffef;
	font-size:0.9em;
}

.pagecontents {
	max-width:1000px;
	min-width:620px;
	margin: 30px auto;
	border:10px solid #e5e5e5;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-border-radius:10px;	
	background-color:#FFFFFF;	
}

.pagehead {
	padding:15px;	
}

#waitmessage {
	display:none;
	padding:50px;	
	width:10em;
	margin:0px auto;	
	font-size:xx-large;
	background-color:#ffffe0;
	text-align:center;
	position:fixed;
	left:50px;	
	right:50px;		
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-border-radius:20px;
	filter:alpha(opacity=70);
	opacity: 0.7;
	-moz-opacity:0.7;
}

#tweetboxcontainer {
	margin-top:10px;
}

#tweettextbox {		
	font-family:sans-serif;
	width:70%;
}

#tweetbutton {
	height:2em;
}

#tweetlengthbox {		
	margin-left:20px;
	height:2em;
}

.longtext {
	background-color:#FF0000;
	color:#FFFFFF;
}

.menubar {
	text-align:center;	
	background-color:#e5e5e5;
	padding:5px;		
}

.menuitem {
	padding:2px;
	font-weight:bold;
	text-decoration:none;
	border-left:1px solid #FFFFFF;
	border-right:1px solid #4D4D4D;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #4D4D4D;
}

.highlightedMenuItem {
	/* border-bottom:2px solid #4D4D4D; */
	border-left:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;	
}

#messagearea {
	text-align:center;
	background-color:#ffffe0;
	font-weight:bold;
}

a img {
	border:0px;
}

a {
	color:#4D4D4D;
}

a:hover {	
	color:#0000FF;
}

.tweetcontents {
	padding:15px;
	border-bottom:1px dotted #e5e5e5;
}

.tweetcontents.mytweet {
	border-left:4px solid #00ff00; 	
} 

.avatar {
	float:left;
	padding-right:1em;
}

.tweetusername {	
	font-weight: bold;
	color:#0000FF;
}

.tweettext {	
}

.tweetmeta, .tweetactions {	
	color:#4d4d4d;;
	font-size:x-small;
}

.tweetactions {
	display:none;
}

.tweetactions.visible {
	display:inline;
}

.tweetactionicon {
	margin-left:6px;
	margin-right:6px;
	vertical-align:middle;	
}

#contentarea a {
	text-decoration:none;
}

#footer {
	border-top:10px solid #e5e5e5;
}

.userprofile {		
	padding:15px;
}

.userinfotable td {	
	padding:2px 5px;
}

.useractionslist li {
	list-style-type:square;
	padding:10px;
}

.userlistslist li {
	list-style-type:square;
	margin-left:0px;
	padding:0px;
}

.userprofilesection {	
	background-color:#e5e5e5;
}


.description {
	display:inline;
	font-style:italic;	
}
