
em {
    font-weight:bold;
}

h1 {
    text-align:center;
    font-size:2em;
    font-variant:small-caps;
    font-weight:bolder;
    text-decoration:underline;
}

/* Year */
h2 {
    text-align:center;
    font-variant:small-caps;
    font-weight:bolder;       
    border-bottom:1px solid black;
    border-top:1px solid black;
}

/* Month */
h3 {
    text-align:center;
    font-variant:small-caps;
    font-weight:bold;
    text-decoration:underline;
}

/* Day */
h4 {
    text-align:center;
    font-variant:small-caps;        
}


